<html>
   <head>
      <title>CT Lung Cancer</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href='style.css' rel='stylesheet'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>

   <body>
      <div class="container">
         <div class="header">
            <div class="row">
               <div class="navbar right">
                  <a href="index.html" class="active">Home</a>
                  <a href="view/about.html">About Us</a>
                  <a href="view/project.html">Project</a>
               </div>
            </div>
            
            <div class="row">
               <div class="title">CT Lung Cancer Image</div>
            </div>
         </div>

         <div class="row">
            <div class="navbar">
               <a class="source">ERJ</a>
               <a class="source">NCBI</a>
               <a class="source">Radiopaedia</a>
               <a class="source">Yandex</a>
               <a class="source">Duckduckgo</a>
               <a class="source">Wikimedia</a>
               <a class="source">Emedicine</a>
            </div>
         </div>

         <div class="row">
            <div class="content gallery">
               <div class="row"></div>
            </div>
         </div>
      </div>
   </body>

   <script src="displayImages.js"></script>
   <script>
      displayImages("../crawler/ERJ/erj_data.json");
      const navlink = document.getElementsByClassName('source');
      for (var i=0; i<navlink.length; i++){
         navlink[i].addEventListener("click", function(){
            // Set active state
            var current = document.querySelector('.active');
            current.className = current.className.replace("active", "");
            this.className = (this.className += " active");

            // Set display
            $('.card').remove();
            switch(this.innerHTML){
               case "ERJ":{
                  displayImages("../crawler/ERJ/erj_data.json");
                  break;
               }
               case "NCBI":{
                  displayImages("../crawler/multiplesources/one/spiders/ncbi.json");
                  break;
               }
               case "Radiopaedia":{
                  displayImages("../crawler/radiopaedia/radiopaedia.json");
                  break;
               }
               case "Yandex":{
                  displayImages("../crawler/multiplesources/one/spiders/yandex.json");
                  break;
               }
               case "Duckduckgo":{
                  displayImages("../crawler/duckduckgo/duckduckgo.json");
                  break;
               }
               case "Wikimedia":{
                  displayImages("../crawler/multiplesources/one/spiders/wikimedia.json");
                  break;
               }
               case "Emedicine":{
                  displayImages("../crawler/emedicine/emedicine.json");
                  break;
               }
            } 
         })
      }
   </script>
</html>