<html>
   <head>
      <title>CT Lung Cancer</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href='./style.css' rel='stylesheet'>
   </head>

   <body>
      <div class="container">
         <div class="header">
            <div class="row">
               <div class="navbar right">
                  <a href="../index.html">Home</a>
                  <a href="./about.html"> About Us</a>
                  <a class="active">Project</a>
               </div>
            </div>
            
            <div class="row">
               <div class="title">Project</div>
            </div>
         </div>

         <div class="row">
            <div class="content project">
               <p>
               This project is for the cource <strong>Web Application Development</strong>.
               Our topic is to develop a website to monitor CT scan image data of lung cancer from multiple data sources.
               For this topic, we have:
               <ul>
                  <li>Developed crawlers using Python (using Selenium, Scrapy, BS4) to crawl CT scan image data of Lung Cancer and their labels from multiple sources on the Internet</li>
                  <li>The crawled data are visualized in a web interface</li>
               </ul>
            </div>
          </div>
         </div>
      </div>
   </body>

   
</html>