<html>
   <head>
      <title>CT Lung Cancer</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href='./style.css' rel='stylesheet'>
   </head>

   <body>
      <div class="container">
         <!-- <div class="header"> -->
            <div class="row">
               <div class="navbar right">
                  <a href="../index.html">Home</a>
                  <a href="./about.html"> About Us</a>
                  <a class="active">Project</a>
               </div>
            </div>
            
            <div class="row">
               <div class="title">Project</div>
            </div>
         <!-- </div> -->

         <div class="row">
            <p style="font-family: 'Segoe UI';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            align-items: center;
            text-align: center; margin-top: 0;">
            This project is for the cource <strong>Web Application Developemnt</strong>. <br>
            Our topic is to develop a website to monitor CT scan image data of lung cancer from multiple data sources<br>
            For this topic, we have:<br>
            <p style="text-align: left; font-family: 'Segoe UI';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px; width: 80%; margin: auto;">
            - Developed crawlers using Python (using Selenium, Scrapy, BS4) to crawl CT scan image data of Lung Cancer and their label from multiple sources on the Web<br>
            - The crawled data are visualize in a web interface</p>
          </p>
          </div>
         </div>
      </div>
   </body>

   
</html>