<html>
   <head>
      <title>CT Lung Cancer</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href='style.css' rel='stylesheet'>
   </head>

   <body>
      <div class="container">
         <!-- <div class="header"> -->
            <div class="row">
               <div class="navbar right">
                  <a href="../index.html" class="active">Home</a>
                  <a href="about.html">About Us</a>
                  <a href="project.html">Project</a>
               </div>
            </div>
            
            <div class="row">
               <div class="title">CT Lung Cancer Image</div>
            </div>
         <!-- </div> -->

         <div class="row">
            <div class="navbar">
               <a href="../index.html">ERJ</a>
               <a href="website2.html">NCBI</a>
               <a href="website3.html">Radiopaedia</a>
               <a href="website4.html" class="active">Yandex</a>
               <a href="website5.html">Duckduckgo</a>
               <a href="website6.html">Wikimedia</a>
               <a href="website7.html">Emedicine</a>
            </div>
         </div>

         <div class="row">
            <div class="content gallery">
               <div class="row"></div>
            </div>
         </div>
      </div>
   </body>

   <script src="displayImages.js"></script>
   <script>
      displayImages("../crawler/multiplesources/one/spiders/yandex.json");
   </script>
</html>