<html>
   <head>
      <title>CT Lung Cancer</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
      <link href='style.css' rel='stylesheet'>
   </head>

   <body>
      <div class="container">
         <!-- <div class="header"> -->
            <div class="row">
               <div class="navbar right">
                  <a href="../index.html" class="active">Home</a>
                  <a href="about.html">About Us</a>
                  <a>Project</a>
               </div>
            </div>
            
            <div class="row">
               <div class="title">CT Lung Cancer Image</div>
            </div>
         <!-- </div> -->

         <div class="row">
            <div class="navbar">
               <a href="../index.html">Website 1</a>
               <a href="website2.html" class="active">Website 2</a>
               <a href="website3.html">Website 3</a>
               <a href="website4.html">Website 4</a>
               <a href="website5.html">Website 5</a>
            </div>
         </div>

         <div class="row">
            <div class="content gallery">
               <div class="row"></div>
            </div>
         </div>
      </div>
   </body>

   <script src="displayImages.js"></script>
   <script>
      displayImages("../crawler/multiplesources/one/spiders/ncbi.json");
   </script>
</html>